body {
    background-color: rgb(85, 84, 84);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
    padding: 10px;
    justify-content: center;
    vertical-align: middle;
}

.main {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.Header {
    color: linear-gradient(45deg, #512da8, #9c27b0);
    color: rgb(243, 243, 243);
    padding: 20px;
    justify-content: center;
}

.button {
    margin: 0 auto;
    padding: 10px;
}